
.temp-for-div{
    background-color: skyblue;
    border: 3px solid rgb(93, 183, 218);
    margin: auto;
    padding: 15px;
    
    max-width: 450px;
}

.temp-for-div2{

    margin: 10%;
    padding: 10px;
}

.large-h1{
    font-size: 32px;
    margin: 10px;
    text-align: center;
}

.form-label-custom{
    text-align: left;

}

.form-button-custom{
    text-align: center;
}

.form-button-custom1{
    padding: 3px;
}